.calculator {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    color: white;
    background-color: rgb(75, 75, 75);
}

.calculator:last-child {
    border-bottom: 2px solid black;
}